{{ define "main" }}
{{ .Content }}
  {{ if not .IsHome }}
      {{ range .Pages }}
      <article>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ .Summary | plainify }}</p>
      </article>
      {{ end }}
    {{ else }}
      {{ with first 2 (where .Site.RegularPages "Section" "events") }}
        <div class="cards columns-2">
        {{ range . }}
          <article class="card">
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>{{ .Summary | plainify }}</p>
          </article>
        {{ end }}
        </div>
      {{ end }}
  {{ end }}
{{ end }}