# Sveltia CMS Configuration
# For more information, see: https://sveltia-cms-docs.netlify.app/

backend:
  name: github
  repo: EFA44/site
  branch: main
  base_url: https://efa44.uni.bzh
  auth_endpoint: /api/auth

display_url: https://efa44.uni.bzh
site_url: https://efa44.uni.bzh
logo:
  src: https://efa44.uni.bzh/img/efa44-logo.svg

media_folder: "static/files"
public_folder: "/files"

media_libraries:
  stock_assets:
    providers: []
  default:
    config:
      transformations:
        raster_image:
          format: webp
          quality: 85
          width: 2048
          height: 2048
        svg:
          optimize: true

i18n:
  structure: single_file
  locales: [fr]
  default_locale: fr

collections:
  # Contenu du site
  - name: "events"
    label: "Évènements"
    label_singular: "Évènement"
    folder: "content/events"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    preview_path: "events/{{slug}}"
    icon: calendar_month
    fields:
      - { label: "Titre", name: "title", widget: "string" }
      - { label: "Auteur", name: "author", value: "EFA44", widget: "hidden" }
      - { label: "Date", name: "date", widget: "datetime", time_format: false }
      - {
          label: "Résumé",
          name: "description",
          widget: "text",
          required: false,
        }
      - {
          label: "Tags",
          name: "tags",
          widget: "select",
          multiple: true,
          options:
            [
              "conferences",
              "soirees-conviviale",
              "temoignages",
              "assemblees-generales",
              "picnics",
              "autres",
            ],
        }
      - { label: "Contenu", name: "body", widget: "markdown" }

  - name: "pages"
    label: "Pages"
    label_singular: "Page"
    folder: "content/pages"
    create: true
    slug: "{{slug}}"
    preview_path: "pages/{{slug}}"
    icon: description
    fields:
      - { label: "Titre", name: "title", widget: "string", required: true }
      - { label: "Résumé", name: "description", widget: "text", required: true }
      - { label: "Contenu", name: "body", widget: "markdown" }

  - divider: true
    name: divider_customization

  # Configuration du site
  - name: "index"
    label: "Accueil"
    label_singular: "Accueil"
    icon: home
    files:
      - name: "index"
        label: "Configuration de la page d'accueil"
        file: "content/_index.md"
        fields:
          - { label: "Titre", name: "title", widget: "string" }
          - { label: "Contenu", name: "body", widget: "markdown" }