{{ define "main" }}
<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__text">
        <h1 class="hero__title"> {{ .Title }} </h1>
        {{ with .Params.description }}<p class="hero__subtitle">{{ . }}</p>{{ end }}
      </div>
    </div>
  </div>
</section>

<div class="page">
  {{ if .TableOfContents }}
  <aside class="toc" aria-hidden="false">
    {{ partial "toc.html" . }}
  </aside>
  {{ end }}
  <div class="content">
    {{ .Content }}
  </div>
</div>
{{ end }}